.Autocomplete{
    width: 100%;
    padding: 2%;
    
}
.Autocomplete input{
    width: 50%;
}

.Autocomplete ul{
    width: 50%;
    list-style-type: none;
    text-align: left;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1), 0 2px 4px 1px rgba(0,0,0,0.45);
}

  